<h4 class='text-center mt-2'>タグ検索</h4>
<!--タグリスト-->
<% tag_list.each do |list| %>
  <i class="fa-solid fa-tag" style="color: #B197FC;"></i>
  <%= link_to list.name,search_tag_path(tag_id: list.id), class:'custom-link text-secondary' %>
  <%= "(#{list.posts.count})" %>
<% end %>