<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 mt-1'>
      <%= render 'tag', tag_list: @tag_list %>
    </div>
    <div class='col-md-9 p-0'>
      <h2><%= @tag.name %>の投稿</h2>
      <% if @posts.present? %>
        <%= render 'index', posts: @posts %>
      <% else %>
        <p class='text-center'>投稿が見つかりませんでした</p>
      <% end %>
    </div>
  </div>
</div>