<div class="container mt-5">
  <h1 class="volkhov-regular text-center mb-4">LuxuryCampLife</h1>
	<section class="img-text">
		<div class="container">
			<div class="box">
				<ul class="subheading-text">
					<li>全てのキャンパーが</li>
					<li>よりよいキャンプライフを</li>
					<li>満喫できますように</li>
				</ul>
				</div>
			</div>
		</section>
</div>