<div class="container mt-5">
  <h1 class="volkhov-regular text-center mb-4">LuxuryCampLife</h1>
	<section class="img-text">
		<div class="container box-position">
			<div class="box">
				<ul class="subheading-text">
					<li class="volkhov-regular">全てのキャンパーが</li>
					<li class="volkhov-regular">よりよいキャンプライフを</li>
					<li class="volkhov-regular">満喫できますように</li>
				</ul>
				</div>
			</div>
		</section>
</div>