<div class="container">

  <table class='table table-hover table-inverse mt-5'>
    <thead>
      <tr>
        <th scope='col' style='width: 10%'>会員ID</th>
        <th scope='col' style='width: 10%'>画像</th>
        <th scope='col' style='width: 30%'>氏名</th>
        <th scope='col' style='width: 30%'>メールアドレス</th>
        <th scope='col' style='width: 20%'>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= image_tag customer.get_image(1000,1000), class: 'image-container rounded-circle' %></td>
          <td><%= link_to "#{customer.name}", admin_customer_path(customer), class:'custom-link text-secondary' %></td>
          <td><%= customer.email %></td>
          <td>
          <% if customer.is_active? %>
            <p class="badge badge-success">有効</p>
          <% else %>
            <p class="badge badge-danger">退会済</p>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row my-3 justify-content-center">
    <%#= paginate @customers %>
  </div>
</div>